$tangerine: #fc8500;
$hint-of-grey: #f5f1f0;
$pine-cone: #6e6259;
$bamboo: #ed8800;
$sandy-brown: #f4994d;
$burnt-pine-cone: #5b4e46;
$charred-pine-cone: #362f2d;
$turbo: #faec00;
$macaroni-and-cheese: #ffaa61;
$silk: #beb7b2;
$cloudy: #a29891;
$schooner: #867b73;
$swiss-coffee: #ded9d7;
$satin-linen: #e6e4da;
$dove-gray: #6e6e6e;
$golden-fizz: #ff3;
$electric-violet: #8200ff;
$west-side: #ff9119;
$cod-gray: #1a1a1a;
$coral: #ff8c59;
$outrageous-orange: #ff5933;
$radical-red: #ff334c;
$silver-chalice: #999;
$carnation: #f7323f;
$lipstickred: #f85965;
$atlantis: #99ca34;
$limeade: #82bc00;
$shakespeare: #33a6cc;
$pacific-blue: #008fbe;
$portica: #f9ec62;
$sweet-corn: #fbf193;
$carnation: #f7323f;
$piggy: #fbacb2;
$atlantis: #99ca34;
$yellow-green: #b3d767;
$caper: #cce599;
$pacific-blue: #008fbe;
$clearwater: #66bcd9;
