$icons: (
attachment: '\e9b0',
pointer: '\e9b1',
copy: '\e9b2',
view-risk-assessment: '\e9af',
remove-risk-link: '\e9ab',
link: '\e9ac',
promote-risk: '\e9ad',
view-risk: '\e9ae',
instagram: '\e9aa',
keyboard: '\e9a8',
mouse: '\e9a9',
bookmark: '\e9a2',
desktop: '\e9a3',
high-speed: '\e9a4',
save: '\e9a5',
engineer: '\e9a6',
manager: '\e9a7',
history: '\e99e',
sad-man: '\e99f',
template: '\e9a0',
server: '\e9a1',
basket: '\e99c',
crown: '\e99d',
checkedbox-solid: '\e996',
consumer: '\e997',
notifications: '\e998',
plc: '\e999',
services: '\e99a',
x: '\e99b',
public: '\e994',
smb: '\e995',
external-link: '\e993',
blog: '\e991',
business: '\e992',
happy-man: '\e98d',
doc-csv: '\e98e',
doc-rtf: '\e98f',
environment: '\e990',
drag-arrows: '\e985',
elipses: '\e986',
elipses-menu: '\e987',
expand-arrows: '\e988',
table: '\e989',
doc-code: '\e98a',
doc-image: '\e98b',
doc-notes: '\e98c',
call-block: '\e983',
parent: '\e984',
key-date: '\e980',
launch: '\e981',
rocket: '\e982',
fg: '\e97d',
capped-spend: '\e97e',
contract: '\e97f',
globe: '\e97b',
install: '\e97c',
recycle: '\e979',
support: '\e97a',
book: '\e975',
call-display: '\e976',
ex-directory: '\e977',
recording: '\e978',
circle-solid: '\e96f',
hide: '\e970',
view: '\e971',
filter: '\e972',
user: '\e973',
news: '\e974',
tablet: '\e96e',
menu: '\e96d',
clock: '\e900',
save-money: '\e901',
award: '\e902',
bag: '\e903',
cog: '\e904',
down-arrow: '\e905',
k: '\e906',
payment: '\e907',
share: '\e908',
sim: '\e909',
up-arrow: '\e90a',
bundle: '\e90b',
customers: '\e90c',
data: '\e90d',
female: '\e90e',
lan: '\e90f',
laptop: '\e910',
paper-cup: '\e911',
partners: '\e912',
systems: '\e913',
architecture: '\e914',
cloud: '\e915',
comms-data: '\e916',
connect: '\e917',
expert: '\e918',
home: '\e919',
mug: '\e91a',
rss: '\e91b',
collaborate: '\e91c',
contacts: '\e91d',
date: '\e91e',
search: '\e91f',
square-check: '\e920',
square-minimise: '\e921',
wifi: '\e922',
youtube: '\e923',
alert-solid: '\e924',
download-data: '\e925',
download-unlimited: '\e926',
facebook: '\e927',
gaming: '\e928',
linkedin: '\e929',
mail: '\e92a',
new-window: '\e92b',
twitter: '\e92c',
care: '\e92d',
heart-solid: '\e92e',
heart: '\e92f',
item-view: '\e930',
list-view: '\e931',
speed: '\e932',
thumb-view: '\e933',
trash: '\e934',
alert: '\e935',
info-solid: '\e936',
info: '\e937',
location: '\e938',
login: '\e939',
print: '\e93a',
square-maximise: '\e93b',
tools: '\e93c',
add-solid: '\e93d',
add: '\e93e',
cancel-solid: '\e93f',
cancel: '\e940',
headphones: '\e941',
lock: '\e942',
pencil: '\e943',
question-solid: '\e944',
question: '\e945',
arrow-next: '\e946',
arrow-prev: '\e947',
check: '\e948',
circle-check: '\e949',
circle-select: '\e94a',
circle-spot: '\e94b',
circle: '\e94c',
square: '\e94d',
account: '\e94e',
doc-excel: '\e94f',
doc-ppt: '\e950',
minus: '\e951',
plus: '\e952',
tag: '\e953',
unlimited: '\e954',
video: '\e955',
comms: '\e956',
doc-bill: '\e957',
doc-pdf: '\e958',
doc-word: '\e959',
doc-zip: '\e95a',
download: '\e95b',
security: '\e95c',
upload: '\e95d',
broadband: '\e95e',
cup: '\e95f',
doc: '\e960',
mobile: '\e961',
phone: '\e962',
tv: '\e963',
credit-card: '\e964',
star-half: '\e965',
star-solid: '\e966',
star: '\e967',
thumb-down: '\e968',
thumb: '\e969',
usage: '\e96a',
high-value: '\e96b',
value: '\e96c',
);

@each $icon-class, $icon-cont in $icons {
	.icon-#{$icon-class} {
		@extend %icon;

		&::before {
			content: '#{$icon-cont}';
		}
	}
}

@font-face {
    font-family: 'kcom-icons';
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
    src: url('../fonts/kcom-icons.eot?r03wy6');
    src: url('../fonts/kcom-icons.eot?r03wy6#iefix') format('embedded-opentype'),
         url('../fonts/kcom-icons.ttf?r03wy6') format('truetype'),
         url('../fonts/kcom-icons.woff?r03wy6') format('woff'),
         url('../fonts/kcom-icons.svg?r03wy6#kcom-icons') format('svg');
    text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}

%icon {
	@include font-size(24);
  font-family: 'kcom-icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  margin-right: .25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-transform: scale(1);
  text-rendering: optimizeLegibility;
	margin-right: .25em;
	color: $pine-cone;
}
